@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'reset';

// ---------------------------------------------------------
// Mixins & Variables
// ---------------------------------------------------------

// COLOURS
$dark-grey: #1C1C1C;
$primary: #FF3853;

// TRANSITIONS

@mixin fade {
  @include transition (all 0.15s ease-in-out);
}

@mixin fast-fade {
  @include transition (all 0.05s ease-in-out);
}

$sommet: "sommet-rounded",sans-serif;
$karmina: "karmina-sans",sans-serif;


// ---------------------------------------------------------
// Base
// ---------------------------------------------------------

body {
  background: $primary;
  color: #fff;
  font-family: $karmina;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $dark-grey;
}


// ---------------------------------------------------------
// Text
// ---------------------------------------------------------

// Use the class text on any container specifically for textual content

.text {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  ul {

  }

  ol {

  }

  blockquote {

  }
}

// ---------------------------------------------------------
// Main Site
// ---------------------------------------------------------

.container {
  @include outer-container;
  background: $primary;
  margin-top: 4em;
  width: 94%;
}

.logo {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: $sommet;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  display: none;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
}

a.button {
  background: #fff;
  border-radius: 8px;
  color: $primary;
  display: block;
  font-size: 1.8em;
  font-weight: 800;
  height: 44px;
  padding: 8px 0 0 0;
  text-align: center;
}

input.button {
  @include appearance(none);
  background: #fff;
  border-radius: 8px;
  color: $primary;
  display: block;
  font-size: 1.8em;
  font-weight: 800;
  height: 44px;
  padding: 8px 0 0 0;
  text-align: center;
}


// Step One

.section-title {
  border-bottom: 2px solid #fff;
  font-family: $sommet;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  em {
    font-weight: 400;
  }
}

#proof-text {
  border-radius: 8px;
  border: none;
  margin-bottom: 2em;
  outline: none;
  padding: 10px;
  width: 100%;
  &:focus {
    box-shadow: 0px 0px 0px 2px #000;
  }
}

.proofers {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 10px;
  width: 100%;
}


