body {
  background: $red;
  color: $cream;
  font-family: "sommet-rounded",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
}

a, a:link, a:visited {
  color: $cream;
  font-weight: 700;
  text-decoration: none;
}
