.container {
  width: 740px;
  margin: 60px auto;
}

.logo {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 6px solid $blue;
  color: $cream;
  padding-bottom: 18px;
}

